body {
	color: gray;
	font-size: 12px;
	line-height: 2em;
}
a{
	color: #727272;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.no1 {
	font-size: 14px;
	color: #b9f605;
	font-weight: bold;
}
a.no2 {
	font-size: 14px;
	color: #FFFFFF;
}
a.no2:hover {
	color: #b9f605;
	text-decoration: none;
}
.no3{
	color: #fdb306;
	font-size: 14px;
}
.no3:hover{
	text-decoration: none;
}
